// BODY LAYOUT

.container {
  position: relative;
  display: grid;
  grid-template-rows: 95vh repeat(7, min-content);

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [main-start] repeat(
      8,
      [col-start] minmax(min-content, 13rem) [col-end]
    )
    [main-end] minmax(6rem, 1fr) [full-end];
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.section-about {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.section-features {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.section-tours {
  grid-column: 1/ -1;
  grid-row: 4/5;
}

.section-gallery {
  grid-column: 1/-1;
  grid-row: 5/6;
}

.section-faq {
  grid-column: 1/-1;
  grid-row: 6/7;
}

.section-book {
  grid-column: 1/-1;
  grid-row: 7/8;
}

.footer {
  grid-column: 1/-1;
  grid-row: 8/9;
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

// COMPONENT LAYOUT

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 48rem;
  column-gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 6rem;
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 10rem));
  justify-content: center;
  gap: 4rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.accordion-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 10rem));
  justify-content: center;
  gap: 4rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  justify-content: center;
  gap: 4rem;
}

.popup-grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  @include respond(tab-port-2) {
    grid-template-columns: 1fr;
  }
}
